* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
  }

  .AboveFooter {
    width: 100%;
    background: #FAF3EA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
  }
  .AboveFooter .AboveFooter-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .AboveFooter-row .AboveFooter-col h4 {
    color: #101010;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .AboveFooter-col{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-icon{
    color: #B88E2F;
    font-size: 45px;
    margin-right: 10px;
  }
 .content-footer p{
    color: #898989;
    font-size: 15px;
  }

  .footer {
    width: 100%;
    background: #32280f;

  }
  .footer .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 3.5rem;
    padding: 60px;
  }
  .footer-row .footer-col h4 {
    color: #B88E2F;
    font-size: 1.2rem;
    font-weight: 400;
  }
  .footer-col .links {
    margin-top: 20px;
  }
  .footer-col .links li {
    list-style: none;
    margin-bottom: 10px;
  }
  .footer-col .links li a {
    text-decoration: none;
    color: #bfbfbf;
  }
  .footer-col .links li a:hover {
    color: #fff;
  }
  .footer-col p {
    margin: 20px 0;
    color: #bfbfbf;
    max-width: 300px;
  }
  .footer-col form {
    display: flex;
    gap: 5px;
  }
  .footer-col input {
    height: 40px;
    border-radius: 6px;
    background: none;
    width: 100%;
    outline: none;
    border: 1px solid #B88E2F ;
    caret-color: #fff;
    color: #fff;
    padding-left: 10px;
  }
  .footer-col input::placeholder {
    color: #ccc;
  }
   .footer-col form button {
    background: #fff;
    outline: none;
    border: none;
    padding: 10px 15px;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.2s ease;
  }
  .footer-col form button:hover {
    background: #cecccc;
  }
  .footer-col .icons {
    display: flex;
    margin-top: 30px;
    gap: 30px;
    cursor: pointer;
  }
  .footer-col .icons i {
    color: #FAF3EA;
  }
  .footer-col .icons i:hover  {
    color: #B88E2F;
  }
