.product-details {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 50px;
    margin: auto;
}


@media (max-width: 1000px) {
    .product-details {
        /* display: flex;
        flex-direction: column; */
        width: 100%;
    }

    .details-image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow);
        border-radius: 10px;
        }
    

}






.details-image-wrapper {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: var(--shadow);
    border-radius: 10px;
}

.details-image-wrapper img {
    width:95%;
}

.details-allinfo {
    width: 50%;
    display: flex;
    flex-direction: column;
}


.product-size,
.product-quantity {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 18px;
    margin-bottom: 10px;
}

.size-select {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.product-quantity {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.quantity-controls button {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #FFA500;
    cursor: pointer;
    font-size: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.product-actions {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-top: 20px;
}

.product-actions button {
    flex-grow: 1;
    padding: 12px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

.buy-now {
    background-color: #FFA500;
    color: #fff;
}

.add-to-cart {
    color: #fff;
    background-color: var(--main-color);
    ;
}

.save {
    background-color: #dcd1d1;
    color: red;
    border: 1px solid #a8a3a3;
}


.buttttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.details-allinfo h2 {
    margin-bottom: 20px;
}

.details-allinfo span {
    margin-bottom: 20px;
}

.price-product {
    font-size: 18px;
    font-weight: 700;
    color: #FFA500;
    margin-bottom: 20px;
}

.pro-dis {
    color: #747171;
}

.loading-page {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #32280f;
    width: 100%;
}

.loading-page i {
    color: #FFA500;
}


@media screen and (max-width: 750px) {
    .product-details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .details-image-wrapper {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }
    .details-allinfo {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    .details-image-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: var(--shadow);
        border-radius: 10px;
    }
    .details-allinfo {
        width: 100%;
    }
}


